{% extends "layouts.html" %}

{% block title %}
    Animation
{% endblock %}

{% block main %}
<section id="title">
  <h1>Animator</h1>
  <p>Step by step path to becoming a PRO animator in 2023</p>
</section>

<section id="graphic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootdey">
  <div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="card">
  <div class="card-body">
  <!-- Timeline start -->
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-dot fb-bg"></div>
      <div class="special-l timeline-content">
        <h4>1- Fundamentals of Animation</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-one-bg"></div>
      <div class="timeline-content green-one">
        <h5>Understand Animation Principles</h5>
        <ul>
          <li>Learn the foundational principles of animation, including squash and stretch, timing, easing, anticipation, and more</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Study the History of Animation</h5>
        <ul>
          <li>Familiarize yourself with the history and evolution of animation, from traditional hand-drawn animation to modern digital techniques</li>
        </ul>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-dot green-three-bg"></div>
      <div class="special-d timeline-content green-three">
        <h4>2- Choose Your Animation Medium</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg"></div>
      <div class="timeline-content green-four">
        <h5>Traditional Animation</h5>
        <ul>
          <li>Learn the art of hand-drawn animation, including sketching, inking, and cel animation</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>2D Digital Animation</h5>
        <ul>
          <li>Explore 2D animation software like Adobe Animate, Toon Boom Harmony, or OpenToonz</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>3D Animation</h5>
        <ul>
          <li>Dive into 3D animation using software such as Blender, Autodesk Maya, or Cinema 4D</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Stop Motion</h5>
        <ul>
          <li>Experiment with stop-motion animation using physical objects or claymation</li>
        </ul>
      </div>
    </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>3- Develop Your Artistic Skills</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Drawing and Illustration</h5>
      <ul>
        <li>Enhance your drawing and illustration skills to create compelling character designs and storyboards</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Storytelling</h5>
      <ul>
        <li>Learn the art of storytelling through storyboarding, scriptwriting, and character development</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Color Theory</h5>
      <ul>
        <li>Understand color theory and its significance in animation design</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>4- Learn Animation Software</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Software Proficiency</h5>
      <ul>
        <li>Master the animation software relevant to your chosen medium (e.g., Adobe Animate, Blender, or Toon Boom)</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Rigging and Character Animation</h5>
      <ul>
        <li>Explore character rigging techniques for 2D and 3D animation</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>5- Animation Techniques</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Frame-by-Frame Animation</h5>
      <ul>
        <li>Learn frame-by-frame animation techniques, especially for hand-drawn and 2D animation</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Keyframe Animation</h5>
      <ul>
        <li>Understand keyframe animation principles for smooth and controlled motion</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Physics and Dynamics</h5>
      <ul>
        <li>Explore physics-based animation for realistic simulations</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>6- Specialization</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Character Animation</h5>
      <ul>
        <li>Specialize in character animation, including walk cycles, facial expressions, and lip sync</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Visual Effects (VFX)</h5>
      <ul>
        <li>Dive into VFX animation for film, television, and gaming</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Motion Graphics</h5>
      <ul>
        <li>Focus on motion graphics and animations used in advertising, presentations, and branding</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>7- Portfolio Building</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Create a Diverse Portfolio</h5>
      <ul>
        <li>Showcase a range of animation projects that highlight your skills and versatility</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>8- Networking and Collaboration</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Join Animation Communities</h5>
      <ul>
        <li>Become part of online animation communities and forums to connect with fellow animators</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Collaborative Projects</h5>
      <ul>
        <li>Collaborate on animation projects to gain experience and learn from others</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>9- Internships and Industry Experience</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Internships</h5>
      <ul>
        <li>Seek internships or entry-level positions in animation studios, film production companies, or game development studios</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>10- Stay Informed and Adapt</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Industry Trends</h5>
      <ul>
        <li>Stay updated with the latest trends and technologies in animation</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Continuous Learning</h5>
      <ul>
        <li>Invest in ongoing learning through workshops, online courses, and industry events</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>11- Build a Career</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Job Search</h5>
      <ul>
        <li>Start applying for animation positions in your chosen field</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Freelancing</h5>
      <ul>
        <li>Consider freelancing as an independent animator or join freelance platforms</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Entrepreneurship</h5>
      <ul>
        <li>Explore opportunities to create your animations or start your animation studio</li>
      </ul>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content last last-right">
      <h5>You are now a Animator!</h5>
    </div>
  </div>

  <!-- Timeline end -->
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--footer layout-->
{% endblock %}