{% extends "layouts.html" %}

{% block title %}
    3D Art
{% endblock %}

{% block main %}
<section id="title">
  <h1>3D Artist</h1>
  <p>Step by step path to becoming a modern 3D Artist in 2023</p>
</section>

<section id="graphic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootdey">
  <div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="card">
  <div class="card-body">
  <!-- Timeline start -->
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-dot fb-bg"></div>
      <div class="special-l timeline-content">
        <h4>1- Introduction to 3D Art</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-one-bg"></div>
      <div class="timeline-content green-one">
        <h5>Understand 3D Art</h5>
        <ul>
          <li>Learn what 3D art is and its significance in various industries, including gaming, animation, architecture, and product design</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>3D Art Basics</h5>
        <ul>
          <li>Familiarize yourself with fundamental 3D art concepts, including polygons, vertices, textures, and shaders</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Study 3D Artworks</h5>
        <ul>
          <li>Analyze and research existing 3D art pieces, 3D models, animations, and other projects to gain inspiration and insights</li>
        </ul>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-dot green-three-bg"></div>
      <div class="special-l timeline-content green-three">
        <h4>2- Foundation in Art and Design</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg"></div>
      <div class="timeline-content green-four">
        <h5>Art Fundamentals</h5>
        <ul>
          <li>Develop a strong foundation in traditional art skills, including drawing, painting, and sculpting</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Anatomy and Character Design</h5>
        <ul>
          <li>Study anatomy for character modeling and design</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Sculpting Skills</h5>
        <ul>
          <li>Practice digital sculpting using software like ZBrush or Blender</li>
        </ul>
      </div>
    </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>3- Choose a 3D Art Discipline</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>3D Modeling</h5>
      <ul>
        <li>Focus on creating 3D models of characters, objects, or environments</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>3D Animation</h5>
      <ul>
        <li>Specialize in character animation, motion graphics, or visual effects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Game Design</h5>
      <ul>
        <li>Learn game design principles and the creation of 3D assets for games</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Architectural Visualization</h5>
      <ul>
        <li>Explore architectural modeling and rendering</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>4- 3D Software and Tools</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Choose Software</h5>
      <ul>
        <li>Select 3D modeling and animation software, such as Blender, Maya, 3ds Max, Cinema 4D, or others</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Software Proficiency</h5>
      <ul>
        <li>Learn the basics of your chosen software, including interface navigation, modeling, texturing, and rendering</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>5- 3D Modeling and Sculpting</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Basic Modeling</h5>
      <ul>
        <li>Start with basic geometric shapes and gradually progress to more complex objects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Organic Modeling</h5>
      <ul>
        <li>Learn to create realistic characters and creatures through organic modeling</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Hard-Surface Modeling</h5>
      <ul>
        <li>Explore hard-surface modeling techniques for non-organic objects like vehicles, architecture, and props</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>6- Texturing and Materials</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>UV Mapping</h5>
      <ul>
        <li>Understand UV mapping techniques for applying textures to 3D models</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Materials and Shading</h5>
      <ul>
        <li>Learn about materials, shaders, and PBR (Physically Based Rendering) workflows</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Texture Painting</h5>
      <ul>
        <li>Develop skills in texture painting using software like Substance Painter or Photoshop</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>7- Rigging and Animation</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Character Rigging</h5>
      <ul>
        <li>Master character rigging for animating characters</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Keyframe Animation</h5>
      <ul>
        <li>Learn keyframe animation techniques to bring your 3D models to life</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Animation Principles</h5>
      <ul>
        <li>Understand animation principles, including timing, spacing, and weight</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>8- Lighting and Rendering</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Lighting Techniques</h5>
      <ul>
        <li>Explore various lighting setups and strategies to enhance your scenes</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Rendering</h5>
      <ul>
        <li>Learn rendering settings and techniques to create high-quality images and animations</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>9- Portfolio Building</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Create a Diverse Portfolio</h5>
      <ul>
        <li>Showcase a variety of 3D art projects to demonstrate your skills and versatility</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>10- Professional Development</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Networking</h5>
      <ul>
        <li>Join 3D art communities, attend industry events, and connect with other artists and professionals</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Freelancing or Employment</h5>
      <ul>
        <li>Decide whether you want to work as a freelance 3D artist, join a studio, or work in a specific industry (e.g., gaming, animation, architecture)</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>11- Continuous Learning</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Stay Updated</h5>
      <ul>
        <li>Keep up with the latest 3D art trends, software updates, and industry news</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Online Courses and Tutorials</h5>
      <ul>
        <li>Enroll in advanced 3D art courses and watch tutorials to expand your knowledge</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Mentorship</h5>
      <ul>
        <li>Consider finding a mentor in the 3D art field to provide guidance and feedback</li>
      </ul>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content last last-left">
      <h5>You are now a 3D Artist!</h5>
    </div>
  </div>

  <!-- Timeline end -->
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--footer layout-->
{% endblock %}