{% extends "layouts.html" %}

{% block title %}
    Graphic Design
{% endblock %}

{% block main %}
<section id="title">
  <h1>Graphic Designer</h1>
  <p>Step by step path to becoming a modern Graphic designer in 2023</p>
</section>

<section id="graphic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootdey">
  <div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="card">
  <div class="card-body">
  <!-- Timeline start -->
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-dot fb-bg"></div>
      <div class="special-l timeline-content">
        <h4>1- Foundations of Graphic Design</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-one-bg"></div>
      <div class="timeline-content green-one">
        <h5>Learn the Basics of Design Principles</h5>
        <ul>
          <li>Typography</li>
          <li>Color theory</li>
          <li>Layout and composition</li>
          <li>Hierarchy and visual balance</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Study Design Software</h5>
        <ul>
          <li>Adobe Creative Cloud Suite (Photoshop, Illustrator, InDesign)</li>
          <li>Sketch or Figma (for UI/UX design)</li>
          <li>CorelDRAW (alternative to Adobe)</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-three-bg"></div>
      <div class="special-d timeline-content green-three">
        <h4>2- Develop Core Skills</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg"></div>
      <div class="timeline-content green-four">
        <h5>Logo Design</h5>
        <ul>
          <li>Learn to create memorable and versatile logos</li>
          <a href="/logo">Logo design roadmap</a>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Print Design</h5>
        <ul>
          <li>Master designing for printed materials like brochures, posters, and business cards</li>
          <a href="/print">Print design roadmap</a>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot sea-green-bg"></div>
      <div class="timeline-content sea-green">
        <h5>Web/UI Design</h5>
        <ul>
          <li>Understand user interface (UI) and user experience (UX) design principles</li>
          <li>Learn how to design websites and mobile apps</li>
          <a href="/print">UI/UX design roadmap</a>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg""></div>
      <div class="timeline-content green-four">
        <h5>Illustration</h5>
        <ul>
          <li>Enhance your illustration skills for both digital and print media</li>
        </ul>
      </div>
    </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>3- Specialization</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Choose a Graphic Design Niche</h5>
      <ul>
        <li>Branding and Identity Design</li>
        <li>Packaging Design</li>
        <li>Editorial Design (magazines, books)</li>
        <li>Motion Graphics and Animation</li>
        <li>Infographic Design</li>
        <li>Environmental/Experiential Design</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Advanced Software Skills</h5>
      <ul>
        <li>Master the advanced features of design software relevant to your niche</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>4- Professional Development</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Portfolio Building</h5>
      <ul>
        <li>Create a diverse portfolio showcasing your best work</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Networking</h5>
      <ul>
        <li>Join graphic design communities, attend design events, and network with other professionals</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Internships or Freelancing</h5>
      <ul>
        <li>Gain real-world experience through internships or freelance projects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>5- Staying Updated</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Follow Design Trends</h5>
      <ul>
        <li>Keep up with the latest design trends and industry news</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Continued Learning</h5>
      <ul>
        <li>Consider enrolling in workshops, online courses, or obtaining certifications to enhance your skills</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>6- Personal Branding and Promotion</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Create Your Brand</h5>
      <ul>
        <li>Develop your personal brand as a graphic designer</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Online Presence</h5>
      <ul>
        <li>Build a professional website and social media profiles to showcase your work</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>7- Career Pathways</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>In-House Designer</h5>
      <ul>
        <li>Work for a company or organization, handling their design needs</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-five-bg""></div>
    <div class="timeline-content green-five">
      <h5>Agency Designer</h5>
      <ul>
        <li>Join a design agency that serves various clients and projects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-six-bg""></div>
    <div class="timeline-content green-six">
      <h5>Freelance Designer</h5>
      <ul>
        <li>Start your own design business and work independently</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-seven-bg""></div>
    <div class="timeline-content green-seven">
      <h5>Art Director or Creative Director</h5>
      <ul>
        <li>Move into leadership roles where you oversee design teams and projects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>8- Continuous Improvement</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Feedback</h5>
      <ul>
        <li>Seek feedback on your work to identify areas for improvement</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Mentorship</h5>
      <ul>
        <li>Consider finding a mentor in the field for guidance and advice</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content last last-right">
      <h5>You are now a Graphic Designer!</h5>
    </div>
  </div>



  <!-- Timeline end -->
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--footer layout-->
{% endblock %}