{% extends "layouts.html" %}

{% block title %}
    UI/UX Design
{% endblock %}

{% block main %}
<section id="title">
  <h1>Motion Designer</h1>
  <p>Step by step path to becoming a modern motion designer in 2023</p>
</section>

<section id="graphic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootdey">
  <div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="card">
  <div class="card-body">
  <!-- Timeline start -->
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-dot fb-bg"></div>
      <div class="special-l timeline-content">
        <h4>1- Fundamentals of Animation</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-one-bg"></div>
      <div class="timeline-content green-one">
        <h5>Study Animation Principles</h5>
        <ul>
          <li>Understand the core principles of animation, such as timing, spacing, squash and stretch, anticipation, and follow-through</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Learn About Keyframes</h5>
        <ul>
          <li>Familiarize yourself with keyframes as the foundation of animation</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Motion Graphics Basics</h5>
        <ul>
          <li>Explore the basics of motion graphics, including text animations and simple transitions</li>
        </ul>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-dot green-three-bg"></div>
      <div class="special-l timeline-content green-three">
        <h4>2- Animation Software</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg"></div>
      <div class="timeline-content green-four">
        <h5>Choose Animation Software</h5>
        <ul>
          <li>Select animation software that suits your needs, such as Adobe After Effects, Adobe Animate, or other animation tools</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Software Proficiency</h5>
        <ul>
          <li>Learn the basics of your chosen animation software, including creating compositions, layers, and keyframes</li>
        </ul>
      </div>
    </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>3- Graphic Design Skills</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Design Fundamentals</h5>
      <ul>
        <li>Build a strong foundation in graphic design principles, including layout, typography, and color theory</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Illustrator and Photoshop</h5>
      <ul>
        <li>Familiarize yourself with Adobe Illustrator and Photoshop, as they are often used for creating assets in motion design</li>
      </ul>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>4- Storytelling and Scripting</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Narrative Structure</h5>
      <ul>
        <li>Understand storytelling and how it applies to motion design projects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Scripting</h5>
      <ul>
        <li>Learn to write scripts and storyboards to plan your animations</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>5- Motion Graphics and Typography</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Typography in Motion</h5>
      <ul>
        <li>Explore kinetic typography and text animation techniques</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Motion Graphics Projects</h5>
      <ul>
        <li>Create motion graphics projects, including logo animations, lower thirds, and infographic animations</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>6- Character Animation</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Character Design</h5>
      <ul>
        <li>Learn about designing for accessibility and compliance with WCAG guidelinesLearn character design principles for animations</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Rigging and Animation</h5>
      <ul>
        <li>Study character rigging and animation techniques for characters and creatures</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>7- 2D and 3D Animation</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>2D Animation</h5>
      <ul>
        <li>Master 2D animation techniques, including frame-by-frame animation</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>3D Animation</h5>
      <ul>
        <li>Explore 3D animation software and techniques if you're interested in 3D motion design</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>8- Visual Effects (VFX)</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Special Effects</h5>
      <ul>
        <li>Learn to create visual effects like explosions, fire, and particles</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Compositing</h5>
      <ul>
        <li>Understand compositing techniques for integrating VFX into live-action footage</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>9- Advanced Techniques</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Advanced Animation</h5>
      <ul>
        <li>Explore advanced animation techniques such as character rigging, expressions, and simulations</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Scripting and Expressions</h5>
      <ul>
        <li>Learn scripting and expressions to automate tasks and create complex animations</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>10- Portfolio Building</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Create a Diverse Portfolio</h5>
      <ul>
        <li>Showcase a range of motion design projects that demonstrate your skills and creativity</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>11- Professional Development</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Networking</h5>
      <ul>
        <li>Join motion design communities, attend industry events, and connect with other professionals</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Freelancing or Employment</h5>
      <ul>
        <li>Decide if you want to work as a freelance motion designer or seek employment at animation studios, advertising agencies, or other creative companies</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>12- Continuous Learning</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Stay Updated</h5>
      <ul>
        <li>Keep up with the latest trends and techniques in motion design</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Online Courses and Tutorials</h5>
      <ul>
        <li>Enroll in advanced motion design courses and watch tutorials to expand your knowledge</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Mentorship</h5>
      <ul>
        <li>Consider finding a mentor in the field to provide guidance and feedback</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content last last-right">
      <h5>You are now a Motion Designer!</h5>
    </div>
  </div>

  <!-- Timeline end -->
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--footer layout-->
{% endblock %}