{% extends "layouts.html" %}

{% block title %}
    NFT Art
{% endblock %}

{% block main %}
<section id="title">
  <h1>NFT Artist</h1>
  <p>Step by step path to becoming a PRO NFT Artist in 2023</p>
</section>

<section id="graphic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootdey">
  <div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="card">
  <div class="card-body">
  <!-- Timeline start -->
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-dot fb-bg"></div>
      <div class="special-l timeline-content">
        <h4>1- Understand the Basics</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-one-bg"></div>
      <div class="timeline-content green-one">
        <h5>What Are NFTs</h5>
        <ul>
          <li>Learn the fundamental concept of non-fungible tokens, including how they work and their significance</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Explore Blockchain Technology</h5>
        <ul>
          <li>Understand the role of blockchain in NFTs, including Ethereum, Binance Smart Chain, and other blockchains used for NFTs</li>
        </ul>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-dot green-three-bg"></div>
      <div class="special-d timeline-content green-three">
        <h4>2- Research NFT Marketplaces</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg"></div>
      <div class="timeline-content green-four">
        <h5>Familiarize Yourself with NFT Marketplaces</h5>
        <ul>
          <li>Explore popular NFT marketplaces like OpenSea, Rarible, and others to understand how they work</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Market Trends</h5>
        <ul>
          <li>Keep an eye on trends in the NFT market, including what types of digital art and collectibles are in demand</li>
        </ul>
      </div>
    </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>3- Develop Digital Art Skills</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Digital Art Tools</h5>
      <ul>
        <li>Choose and become proficient in digital art creation software, such as Adobe Creative Cloud, Procreate, or other tools</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Artistic Techniques</h5>
      <ul>
        <li>Improve your digital art skills, including illustration, painting, 3D modeling, or any style relevant to your vision</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>NFT-Ready Art</h5>
      <ul>
        <li>Understand the technical requirements for creating NFT-ready digital art, including resolution, file formats, and aspect ratios</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>4- Legal and Copyright</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Copyright</h5>
      <ul>
        <li>Learn about copyright laws, licensing, and how they apply to NFTs</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Smart Contracts</h5>
      <ul>
        <li>Understand how smart contracts can be used to specify ownership and royalty terms for NFTs</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>5- Create Your NFT Art</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Concept Development</h5>
      <ul>
        <li>Brainstorm ideas for your NFT art, considering themes, styles, and narratives</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Art Creation</h5>
      <ul>
        <li>Produce high-quality digital art pieces with a focus on originality and uniqueness</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>6- Minting NFTs</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Choose a Blockchain</h5>
      <ul>
        <li>Decide which blockchain you want to use for minting your NFTs (e.g., Ethereum, Binance Smart Chain)</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Minting Platforms</h5>
      <ul>
        <li>Explore NFT minting platforms like Mintable, Rarible, or OpenSea for minting your NFTs</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Gas Fees</h5>
      <ul>
        <li>Understand gas fees associated with minting NFTs and plan your budget accordingly</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>7- Metadata and Description</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Metadata</h5>
      <ul>
        <li>Create metadata for your NFTs, including title, description, attributes, and links to your artwork</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>8- Mint Your NFTs</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Minting Process</h5>
      <ul>
        <li>Follow the guidelines of the chosen minting platform to mint your NFTs</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>9- Marketing and Promotion</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Social Media Presence</h5>
      <ul>
        <li>Build a strong online presence on platforms like Twitter, Instagram, and Discord to showcase your NFT art</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Communities</h5>
      <ul>
        <li>Join NFT communities and engage with fellow artists and collectors</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>NFT Drops</h5>
      <ul>
        <li>Plan and execute NFT drops on marketplaces to sell your creations</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>10- Legal Considerations</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Contracts</h5>
      <ul>
        <li>Understand and create smart contracts to specify royalties and ownership terms</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Tax Implications</h5>
      <ul>
        <li>Familiarize yourself with tax regulations related to NFT sales</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>11- Continuous Learning and Adaptation</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Stay Informed</h5>
      <ul>
        <li>Stay updated with the evolving NFT space, including new marketplaces, trends, and technologies</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Skill Enhancement</h5>
      <ul>
        <li>Continue to improve your digital art skills and adapt to changing market demands</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content last last-left">
      <h5>You are now a NFT Artist!</h5>
    </div>
  </div>

  <!-- Timeline end -->
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--footer layout-->
{% endblock %}