{% extends "layouts.html" %}

{% block title %}
    Print design
{% endblock %}

{% block main %}
<section id="title">
  <h1>print design</h1>
  <p>Step by step path to becoming a PRo print designer in 2023</p>
</section>

<section id="graphic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootdey">
  <div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="card">
  <div class="card-body">
  <!-- Timeline start -->
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-dot fb-bg"></div>
      <div class="special-l timeline-content">
        <h4>1- Understanding the Basics</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-one-bg"></div>
      <div class="timeline-content green-one">
        <h5>Introduction to Print Design</h5>
        <ul>
          <li>Familiarize yourself with the fundamental principles of print design</li>
          <li>Learn about the differences between print and digital design</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Color Theory</h5>
        <ul>
          <li>Study color theory and its application in print design</li>
          <li>Understand color modes like CMYK, RGB, and Pantone</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Typography</h5>
        <ul>
          <li>Master typography, including font selection, kerning, leading, and hierarchy</li>
          <li>Explore different typefaces and their use in print design</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Layout and Composition</h5>
        <ul>
          <li>Learn how to create visually appealing layouts</li>
          <li>Understand the principles of balance, alignment, proximity, and contrast</li>
        </ul>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-dot green-three-bg"></div>
      <div class="special-d timeline-content green-three">
        <h4>2- Graphic Design Software</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg"></div>
      <div class="timeline-content green-four">
        <h5>Adobe Creative Cloud Suite</h5>
        <ul>
          <li>Become proficient in Adobe InDesign (for layout), Adobe Photoshop (for image editing), and Adobe Illustrator (for vector graphics)</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Alternative Software</h5>
        <ul>
          <li>Familiarize yourself with alternative design software like CorelDRAW or Affinity Publisher</li>
        </ul>
      </div>
    </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>3- Design Projects</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Business Cards</h5>
      <ul>
        <li>Start with small projects like business card design</li>
        <li>Learn about print specifications, including bleed and trim</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Posters and Flyers</h5>
      <ul>
        <li>Progress to creating posters and flyers for events or promotions</li>
        <li>Experiment with layout, typography, and imagery</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Brochures and Pamphlets</h5>
      <ul>
        <li>Design informative brochures and pamphlets</li>
        <li>Focus on effective information presentation and storytelling</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Magazines and Books</h5>
      <ul>
        <li>Create magazine spreads or book layouts</li>
        <li>Understand the importance of grids, pagination, and consistency</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>4- Printing Techniques</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Print Production</h5>
      <ul>
        <li>Gain knowledge of print production processes, including offset printing and digital printing</li>
        <li>Learn about different paper types and finishes</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Prepress</h5>
      <ul>
        <li>Understand the prepress process, including color separation and file preparation</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>5- Specialized Print Design</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Packaging Design</h5>
      <ul>
        <li>Explore packaging design, including label and box design</li>
        <li>Learn about packaging materials and die-cutting</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Large Format Printing</h5>
      <ul>
        <li>Work on large format projects like banners and billboards</li>
        <li>Understand resolution and scalability</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Specialty Printing</h5>
      <ul>
        <li>Familiarize yourself with specialty printing techniques like letterpress and screen printing</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>6- Portfolio Building</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Create a Diverse Portfolio</h5>
      <ul>
        <li>Showcase a variety of print design projects in your portfolio</li>
        <li>Highlight your best work</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>7- Professional Development</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Networking</h5>
      <ul>
        <li>Join print design communities and attend design-related events</li>
        <li>Connect with other print designers and professionals</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Freelancing or Employment</h5>
      <ul>
        <li>Decide whether you want to work as a freelance print designer or seek employment in a design agency or print shop</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>8- Continuous Learning</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Stay Updated</h5>
      <ul>
        <li>Keep up with industry trends and emerging technologies in print design</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Skill Enhancement</h5>
      <ul>
        <li>Continuously improve your design skills and stay current with design software updates</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Portfolio Updates</h5>
      <ul>
        <li>Regularly update your portfolio with new projects and experiences</li>
      </ul>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content last last-right">
      <h5>You are now a Print designer!</h5>
    </div>
  </div>

  <!-- Timeline end -->
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--footer layout-->
{% endblock %}