{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 class="log">Sign Up</h1>
    <p class="script">Create an account to track you progress, showcase your skill-set and be a part of the community.</p>
    <form action="/register" method="POST" class="register">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email Address" type="email">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="password" name="password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirmation password" type="password">
        </div>
        <p class="error-message">{{ error_message }}</p>
        <button class="btn btn1 btn-dark" type="submit">Sign up</button>
        <p class="sign">Already have an account? <span><a href="/login">Login</a></span></p>
    </form>
{% endblock %}
