{% extends "layouts.html" %}

{% block title %}
    Roadmaps
{% endblock %}

{% block main %}
<section id="title">
    <h1>Designer Roadmaps</h1>
    <p>Step by step paths to learn different design fields</p>
</section>


<section id="skills">
    <div class="row">
        <div class="col-lg-6">
            <a class="btn" href="/graphic">
                Graphic Design
                <p>Step by step path to becoming a modern Graphic designer in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/uiux">
                UI/UX Design
                <p>Step by step path to becoming a modern UI/UX designer in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/motion">
                Motion Design
                <p>Step by step path to becoming a modern Motion designer in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/web">
                Web Design
                <p>Step by step path to becoming a modern Web designer in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/video-editing">
                Video Editing
                <p>Step by step path to becoming a PRO Video editer in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/3d-art">
                3D Art
                <p>Step by step path to becoming a PRO 3D artist in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/logo">
                Logo Design
                <p>Step by step path to becoming a PRO LOGO designer in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/print">
                Print Design
                <p>Step by step path to becoming a modern Print designer in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/nft">
                NFT Art
                <p>Step by step path to becoming a PRO NFT artist in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/packaging">
                Packaging Design
                <p>Step by step path to becoming a Pro Packaging designer in 2023</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="btn" href="/animation">
                Animation
                <p>Step by step path to becoming a modern Animator in 2023</p>
            </a>
        </div>
    </div>
</section>

<!--footer layout-->
{% endblock %}