{% extends "layouts.html" %}

{% block title %}
    Videos
{% endblock %}

{% block main %}
<section id="title"> 
    <h1>Videos tutorials</h1>
    <p>Graphical video demonstrations on Design topics</p>
</section>

<section id="vids">
    <div class="videos">
        <a href="https://youtu.be/pD4cap1H3fM?feature=shared" class="link"><span>So You Want To Be A Graphic Designer? 2023</span> <span>10 min</span></a>
        <a href="https://youtu.be/HmKwiEmJIdM?feature=shared" class="link"><span>Become a UI/UX designer in 2023</span> <span>12 min</span></a>
        <a href="https://youtu.be/N3DWVq7X7Ss?feature=shared" class="link"><span>How I Would Learn Motion Design</span> <span>8 min</span></a>
        <a href="https://youtu.be/O4MtPWj512A?feature=shared" class="link"><span>How to Become a FULL TIME Web Designer 2023</span> <span>14 min</span></a>
        <a href="https://youtu.be/2LH2pVInNwg?feature=shared" class="link"><span>How to become a Pro Video Editor (Full Guide)</span> <span>13 min</span></a>
        <a href="https://youtu.be/8K4AShjq-MU?feature=shared" class="link"><span>The BEST Way To Learn Blender in 3d art</span> <span>16 min</span></a>
        <a href="https://youtu.be/mWkDlg3O-LY?feature=shared" class="link"><span>Just 30 Days And You'll Master LOGO DESIGN</span> <span>12 min</span></a>
        <a href="https://youtu.be/HnA75TAD-No?feature=shared" class="link"><span>Easiest Way To Create An NFT And Sell It in 2023</span> <span>8 min</span></a>
        <a href="https://youtu.be/Q0QOqJvhRm4?feature=shared" class="link"><span>30 Illustrator Secrets Graphic Designers MUST KNOW!</span> <span>8 min</span></a>
        <a href="https://youtu.be/88XxC0_zs74?feature=shared" class="link"><span>6 UI Hacks I Wish I Knew As A Beginner</span> <span>11 min</span></a>
        <a href="https://youtu.be/4GeGLgK2BBk?feature=shared" class="link"><span>10 PRO Motion Graphics Tips and Tricks in After Effects</span> <span>12 min</span></a>
        <a href="https://youtu.be/zSLELihVi6I?feature=shared" class="link"><span>7 Topology Tips Every 3D Artist Should Know</span> <span>9 min</span></a>
        <a href="https://youtu.be/lyH8PBm8Qfo?feature=shared" class="link"><span>13 Advanced Logo Design Techniques YOU NEED TO KNOW!</span> <span>8 min</span></a>
        <a href="https://youtu.be/sePnGLy6LWk?feature=shared" class="link"><span>7 MIND BLOWING Logo Design Tips</span> <span>8 min</span></a>
        <a href="https://youtu.be/Q0QOqJvhRm4?feature=shared" class="link"><span>30 Illustrator Secrets Graphic Designers MUST KNOW!</span> <span>8 min</span></a>
        <a href="https://youtu.be/e2FTKCzc8tk?feature=shared" class="link"><span>How To Be A Successful NFT Artist</span> <span>15 min</span></a>
        <a href="https://youtu.be/ApUIVfTVEGI?feature=shared" class="link"><span>The Secret to becoming a PRO at Packaging Design!</span> <span>13 min</span></a>
        <a href="https://youtu.be/C3YYv9t78tM?feature=shared" class="link"><span>Packaging Design Trends 2023 - Inspiration & Tips</span> <span>7 min</span></a>
        <a href="https://youtu.be/Ce5pxVCvqTg?feature=shared" class="link"><span>5 Tips That Can Improve Your Animation</span> <span>7 min</span></a>
        <a href="https://youtu.be/9jp_1gHhieA?feature=shared" class="link"><span>6 Advanced UI Design Tips (Deep-dive)</span> <span>23 min</span></a>
    </div>
</section>

<!--footer layout-->
{% endblock %}