{% extends "layouts.html" %}

{% block title %}
    UI/UX Design
{% endblock %}

{% block main %}
<section id="title">
  <h1>Video editor</h1>
  <p>Step by step path to becoming a PRO Video editor in 2023</p>
</section>

<section id="graphic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootdey">
  <div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="card">
  <div class="card-body">
  <!-- Timeline start -->
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-dot fb-bg"></div>
      <div class="special-l timeline-content">
        <h4>1- Understand the Basics</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-one-bg"></div>
      <div class="timeline-content green-one">
        <h5>Introduction to Video Editing</h5>
        <ul>
          <li>Learn what video editing is and its significance in storytelling</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Study Video Formats</h5>
        <ul>
          <li>Understand different video formats, codecs, and resolutions</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Video Editing Software</h5>
        <ul>
          <li>Choose a video editing software (e.g., Adobe Premiere Pro, Final Cut Pro, DaVinci Resolve) and learn its basic interface and features</li>
        </ul>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-dot green-three-bg"></div>
      <div class="special-l timeline-content green-three">
        <h4>2- Editing Fundamentals</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg"></div>
      <div class="timeline-content green-four">
        <h5>Learn Editing Principles</h5>
        <ul>
          <li>Explore fundamental editing principles, such as continuity editing, pacing, and storytelling</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Timeline and Sequencing</h5>
        <ul>
          <li>Understand how to use the timeline, arrange clips, and create sequences</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Importing and Organizing Media</h5>
        <ul>
          <li>Learn to import and organize video clips, audio files, and other media assets</li>
        </ul>
      </div>
    </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>3- Editing Techniques</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Cutting and Trimming</h5>
      <ul>
        <li>Master basic cutting and trimming techniques to remove unwanted parts</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Transitions</h5>
      <ul>
        <li>Learn how to apply various transitions, such as cuts, fades, and dissolves</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Audio Editing</h5>
      <ul>
        <li>Understand audio editing, including adjusting levels, adding music, and using sound effects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Color Correction and Grading</h5>
      <ul>
        <li>Explore color correction and grading techniques to enhance the visual quality of your videos</li>
      </ul>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>4- Advanced Editing</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Motion Graphics</h5>
      <ul>
        <li>Learn to create and integrate motion graphics, titles, and lower thirds</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Visual Effects (VFX)</h5>
      <ul>
        <li>Explore visual effects techniques for compositing and enhancing your videos</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Keyframing</h5>
      <ul>
        <li>Master keyframing to create animations, transitions, and motion effects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Multicam Editing</h5>
      <ul>
        <li>Understand multicam editing for handling multiple camera angles</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>5- Storytelling and Narrative</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Storyboarding</h5>
      <ul>
        <li>Learn how to create storyboards to plan your edits</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Narrative Structure</h5>
      <ul>
        <li>Study storytelling techniques and how they apply to video editing</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Scripting</h5>
      <ul>
        <li>Understand script-based editing for narrative-driven projects</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>6- Specialization</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Choose Your Niche</h5>
      <ul>
        <li>Decide whether you want to specialize in documentaries, commercials, music videos, or other video types</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>7- Portfolio Building</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Create a Diverse Portfolio</h5>
      <ul>
        <li>Build a portfolio that showcases a variety of video projects to demonstrate your skills</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>8- Professional Development</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Networking</h5>
      <ul>
        <li>Join video editing communities, attend industry events, and connect with fellow editors</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Freelancing or Employment</h5>
      <ul>
        <li>Decide if you want to work as a freelance video editor, join a video production team, or work for a post-production company</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>9- Continuous Learning</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Stay Updated</h5>
      <ul>
        <li>Keep up with the latest video editing trends and technologies</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Online Courses and Tutorials</h5>
      <ul>
        <li>Enroll in advanced video editing courses and watch tutorials to expand your knowledge</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Mentorship</h5>
      <ul>
        <li>Consider finding a mentor in the field to provide guidance and feedback</li>
      </ul>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content last last-right">
      <h5>You are now a Video Editor!</h5>
    </div>
  </div>

  <!-- Timeline end -->
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--footer layout-->
{% endblock %}