{% extends "layouts.html" %}

{% block title %}
     Web Design
{% endblock %}

{% block main %}
<section id="title">
  <h1>Web Designer</h1>
  <p>Step by step path to becoming a modern Web Designer in 2023</p>
</section>

<section id="graphic">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootdey">
  <div class="row gutters">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="card">
  <div class="card-body">
  <!-- Timeline start -->
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-dot fb-bg"></div>
      <div class="special-l timeline-content">
        <h4>1- Foundational Skills and Concepts</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-one-bg"></div>
      <div class="timeline-content green-one">
        <h5>HTML and CSS</h5>
        <ul>
          <li>Learn HTML for structuring web content</li>
          <li>Study CSS for styling and layout</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Responsive Design</h5>
        <ul>
          <li>Understand responsive design principles for creating websites that adapt to different screen sizes</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-two-bg"></div>
      <div class="timeline-content green-two">
        <h5>Design Principles</h5>
        <ul>
          <li>Explore design fundamentals like typography, color theory, layout, and visual hierarchy</li>
        </ul>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-dot green-three-bg"></div>
      <div class="special-l timeline-content green-three">
        <h4>2- Tools and Software</h4>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot green-four-bg"></div>
      <div class="timeline-content green-four">
        <h5>Design Tools</h5>
        <ul>
          <li>Master design software like Adobe XD, Sketch, Figma, or Adobe Photoshop for creating mockups and prototypes</li>
        </ul>
      </div>
    </div>
    <div class="timeline-row">
      <div class="timeline-dot teal-bg"></div>
      <div class="timeline-content teal">
        <h5>Coding Tools</h5>
        <ul>
          <li>Familiarize yourself with code editors such as Visual Studio Code or Sublime Text for writing HTML and CSS</li>
        </ul>
      </div>
    </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>3- UX/UI Design</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>User-Centered Design (UCD)</h5>
      <ul>
        <li>Learn the principles of user-centered design, focusing on user needs and experiences</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Wireframing and Prototyping</h5>
      <ul>
        <li>Develop wireframing and prototyping skills to create website layouts and interactive mockups</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>UI Elements</h5>
      <ul>
        <li>Design user interface elements, including buttons, forms, navigation menus, and icons</li>
      </ul>
    </div>
    </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Usability Testing</h5>
      <ul>
        <li>Learn to conduct usability tests to gather feedback and improve user experiences</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>4- Web Design Specialization</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Front-End Development</h5>
      <ul>
        <li>Explore front-end technologies like JavaScript, jQuery, and frameworks (e.g., React, Vue.js) for interactive web design</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>E-Commerce Design</h5>
      <ul>
        <li>Learn about designing e-commerce websites, including product pages, checkout processes, and payment gateways</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>WordPress Design</h5>
      <ul>
        <li>Master WordPress to design and develop custom themes and templates</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>5- Accessibility and SEO</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Accessibility (a11y)</h5>
      <ul>
        <li>Understand web accessibility principles and techniques, such as using ARIA roles and alt text</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Search Engine Optimization (SEO)</h5>
      <ul>
        <li>Learn SEO best practices for optimizing websites for search engines</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>6- Advanced Topics</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Animation and Interaction</h5>
      <ul>
        <li>Explore animation libraries (e.g., CSS animations, GSAP) for adding motion and interaction to websites</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Web Performance</h5>
      <ul>
        <li>Optimize websites for fast loading times and improved performance</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Web Hosting</h5>
      <ul>
        <li>Learn about web hosting options and server management</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-d timeline-content green-three">
      <h4>7- Content Management Systems (CMS)</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Labeling and RegulationsCMS Platforms</h5>
      <ul>
        <li>Familiarize yourself with popular CMS platforms like WordPress, Drupal, or Joomla</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Customization</h5>
      <ul>
        <li>Learn to customize and extend CMS functionality with themes, plugins, and modules</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>8- Portfolio Building</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Create a Portfolio</h5>
      <ul>
        <li>Build a portfolio showcasing your best web design projects</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>9- Professional Development</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Networking</h5>
      <ul>
        <li>Join web design communities, attend industry events, and network with other professionals</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Freelancing or Employment</h5>
      <ul>
        <li>Consider freelancing or seek employment as a web designer</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Certifications</h5>
      <ul>
        <li>Pursue relevant certifications, such as UX/UI design or front-end development certifications</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-three-bg"></div>
    <div class="special-l timeline-content green-three">
      <h4>10- Continuous Learning and Adaptation</h4>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Stay Informed</h5>
      <ul>
        <li>Keep up with the latest web design trends, tools, and technologies</li>
      </ul>
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content green-four">
      <h5>Skill Enhancement</h5>
      <ul>
        <li>Continuously improve your design skills, code proficiency, and knowledge of emerging web standards</li>
      </ul>
    </div>
  </div>

  <div class="timeline-row">
    <div class="timeline-dot green-four-bg""></div>
    <div class="timeline-content last last-right">
      <h5>You are now a Web Designer!</h5>
    </div>
  </div>

  <!-- Timeline end -->
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<!--footer layout-->
{% endblock %}